html {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

body {
    background-color: rgba(66, 65, 66, 0.333);
    height: 90%;
    width: 100%;
    text-align: center;
}

.italic-text {
    font-style: italic;
    color: aqua;
}

p {
    color: white;
}

img.profile-picture {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

img.profile-picture:hover {
    width: 220px;
    height: 220px;
}

li {
    padding: 5px 12px;
    list-style: none;
    background-color: rgb(255, 71, 71);
}

a {
    text-decoration: none;
}

a:hover {
    color: rgb(2, 169, 184) !important;
    font-size: 18px;
}

a:visited {
    color: cornflowerblue;
}

h1 {
    color: #4775fc;
}

li {
    list-style: none;
}

hr {
    width: 60%;
    border: 2px dotted #000;
}
